@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body {
    background-color: #38615c;
}

h3 {
    font-family: 'Oswald';
    text-align: center;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
    font-size: small;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    transform: scale(1.01);
    color: black;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    padding: 20px 0;
    background-image: linear-gradient(#38615c 0, #293d3b)
}